<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Produtos</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/css/bootstraptheme.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="w-auto p-3 mt-3 logo-container">Financiamentos</div>
    <div>
        <h1 class="display-6">Intenção de financiamentos</h1>
    </div>
    <form th:action="@{/new-intent}">
        <div>
            <button type="submit" class="btn btn-primary">Novo</button>
        </div>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Cliente</th>
            <th scope="col">Versão</th>
            <th class="text-center" scope="col">Valor intencional</th>
            <th scope="col">Quantidade de parcelas</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="intent : ${intents}">
            <td th:text="${intent.name}"></td>
            <td th:text="${intent.category}"></td>
            <td th:text="${intent.intentValue}"></td>
            <td th:text="${intent.quantity}"></td>

            <td class="text-center">
                <a th:href="@{/intent/{id}(id = ${intent.id})}" class="btn btn-Danger">Detalhes</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>